<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://github.com/lyleshaw" target="_blank"
    >
      Lyle
    </a>
    <span px-1>|</span>
    <span pr-1>Powered by</span>
    <a
      b-slate-link
      href="https://ddiu.io" target="_blank"
    >
      Diu
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/lyleshaw/open-plugin" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>
